@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tailwindcss';

@theme {
  --breakpoint-md: 743px;
  --breakpoint-lg: 1200px;
  --font-pretenard: 'Pretenard';
  --color-Primay-Blue-50: #f5faff;
  --color-Primay-Blue-100: #e9f4ff;
  --color-Primay-Blue-200: #4da9ff;
  --color-Primay-Blue-300: #1b92ff;
  --color-Primay-Blue-400: #242945;
  --color-Black-100: #6b6b6b;
  --color-Black-200: #525252;
  --color-Black-300: #373737;
  --color-Black-400: #1f1f1f;
  --color-Black-500: #040404;
  --color-GrayScale-50: #ffffff;
  --color-GrayScale-100: #dedede;
  --color-GrayScale-200: #c4c4c4;
  --color-GrayScale-300: #ababab;
  --color-GrayScale-400: #999999;
  --color-GrayScale-500: #808080;
  --color-Secondary-Yellow-100: #ffc149;
  --color-Secondary-Red-100: #ffeef0;
  --color-Secondary-Red-200: #ff4f64;
  --color-BackGround-100: #cfcfcf;
  --color-BackGround-200: #f7f7f7;
  --color-BackGround-300: #efefef;
  --color-BackGround-400: #f4f7fb;
  --color-Line-100: #f2f2f2;
  --color-Line-200: #e6e6e6;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}
