@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tailwindcss';

@theme {
  /* --breakpoint-sm: 743px;
  --breakpoint-md: 1024px; */
  --font-pretenard: 'Pretenard';
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}
